{% assign full_url = site.baseurl | prepend: site.url %}

{% capture page_title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}

{% capture page_type %}{% if page.type %}{{ page.type }}{% else %}article{% endif %}{% endcapture %}

{% capture canonical_url %}{{ page.url | replace:'index.html','' | prepend: full_url }}{% endcapture %}

{% capture rss_feed %}{{ "/feed.xml" | prepend: full_url }}{% endcapture %}

{% capture page_image %}{% if page.image %}{{ page.image | prepend: full_url }}{% else %}{{ site.image | prepend: full_url }}{% endif %}{% endcapture %}

{% capture page_description %}{% if page.description %}{{ page.description | strip | strip_newlines | truncate: 160 }}{% else if page.excerpt %}{{ page.excerpt | strip | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}


<head>
  <!-- General Metadata -->
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page_description }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{canonical_url}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ rss_feed }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ full_url }}" />
  <meta property="og:image" content="{{ page_image }}" />
  <meta property="article:author" content="https://www.facebook.com/{{ facebook_username }}">
  <meta property="article:publisher" content="https://www.facebook.com/{{ facebook_username }}">
  <meta property="og:type" content="{{ page_type }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:fb:app_id" content="616445445121972" />
  <meta property="fb:admins" content="5412120" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{site.twitter_username}}" />
  <meta name="twitter:creator" content="{{site.twitter_username}}" />

  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ page_description }}" />
  <meta name="twitter:image" content="{{ page_image }}" />
  <meta name="twitter:url" content="{{ page_url }}" />

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />

</head>
<body>
