<div class="container-fluid">
  <header class="row top-header" itemscope itemtype="http://schema.org/Person">
    <div class="brand col-lg-6">
      <span class="mobile-menu">&#9776;</span>
      <a href="/" alt="About" title="About">
        <span class="brand-title" itemprop="name">Eric Carlisle</span>
        <span class="brand-delimiter">:</span>
        <span class="brand-subtitle" itemprop="jobTitle">UI Developer, UX Designer</span>
      </a>
    </div>
    <div class="col-lg-6">
      <nav class="top-nav" role="Navigation">
        <ul>
          <li>
            <a href="/" alt="About" title="About">About</a>
          </li><li>
            <a href="/blog" alt="Blog" title="Blog">Blog</a>
          </li><li>
            <a href="/speaking" alt="Speaking" title="Speaking">Speaking</a>
          </li><li>
            <a href="/portfolio" alt="Portfolio" title="Portfolio">Portfolio</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main role="main">
