<div class="wrapper">
  <header>
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a>
      <span>ui &amp; ux consultant</span>
    </h1>
    <div id="nav-menu"></div>
  </header>
  <div class="nav-wrapper">
    <nav>
      <ul>
        <li>
          <a href="/index.html#about-me">about me</a>
        </li>
        <li>
          <a href="/index.html#social">social</a>
        </li>
        <li>
          <a href="/index.html#speaking">speaking</a>
        </li>
        <li>
          <a href="/blog">blog</a>
        </li>
        <li>
          <a href="/resume">résumé</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<main>
