<div id="header-wrapper">
  <section>
    <header class="cf">
      <div class="lfloat">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <span id="h1-tag-line">ui / ux architect</span>
      </div>

      <nav id="nav-top" class="rfloat">
        <ul>
          <li>
            <a href="https://www.twitter.com/eric_carlisle">
              <img src="/img/twitter-icon.png" alt="My Twitter Profile" title="My Twitter Profile" />
            </a>
          </li>
          <li>
            <a href="https://github.com/ecarlisle">
              <img src="/img/github-icon.png" alt="My Github Profile" title="My Github Profile" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/profile/view?id=9282479">
              <img src="/img/linkedin-icon.png" alt="My LinkedIn Profile" title="My LinkedIn Profile" />
            </a>
          </li>
          <li>
            <a href="http://www.slideshare.net/ericcarlisle">
              <img src="/img/slideshare-icon.png" alt="My Slideshare Presentations" title="My Slideshare Presentations" />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/eric.carlisle">
              <img src="/img/facebook-icon.png" alt="My Facebook Profile" title="My Facebook Profile" />
            </a>
          </li>
          <li>
            <a href="http://tumblr.ericcarlisle.com/">
              <img src="/img/tumblr-icon.png" alt="My Tumblr Page" title="My Tumblr Page" />
            </a>
          </li>
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <img src="/img/rss-icon.png" alt="RSS Feed" title="RSS Feed" />
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#">blog</a>
          </li>
          <li>|</li>
          <li>
            <a href="#">about</a>
          </li>
          <li>|</li>
          <li>
            <a href="#">presentations</a>
          </li>
        </ul>
      </nav>
<!--
        <ul>
          <li><a href="#what-i-do">What I Do</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#social">Social</a></li>
        </ul>
      </nav>
      -->
    </header>
  </section>
</div>

<!--
{% for page in site.pages %}
  {% if page.title %}
  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  {% endif %}
{% endfor %}
-->