*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $open-sans;
  @include flexbox;
  min-height: 100vh;
  @include flex-direction(column);
  color: #333;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $open-sans;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 0 0 2rem;
}

header, main, nav, footer {
  margin: 0 auto;
  @include font-size(16px);
}

header, main, footer {
  @include flexbox;
  padding: 2rem;
}

header, footer {
  a, a:hover {
    color: $periwinkle;
  }
}

header {
  @include justify-content(space-between);
}

main {
  @include flex(1);
  @include flex-direction(column);
}

nav {

  display: none;
  a, a:hover {
    color: $periwinkle;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      background: rgba(255,255,255,0.15);
      border-top: 1px solid rgba(255,255,255,0.3); 
      padding: 0.5rem 1rem 1rem;
    }
  }
}

main ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
  list-style-type: square;

  li {
    margin-bottom: 3px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1;
}

h1 {
  @include font-size(24px);
  font-weight: 500;
  a {
    color: $periwinkle;
    text-decoration: none;
    &:hover {
      color: $periwinkle;
      text-decoration: none;
    }
  }
  span {
    @include font-size(24px);
    color: $white;
    font-weight: normal;
  }
}



h2, h3, h4, h5 {
  font-family: $oswald;
  font-weight: normal;
  margin-bottom: 1rem;
  a {
    color: $black;
    text-decoration: none;
  }
}

h2 {
  @include font-size(32px);
}

h3 {
  @include font-size(24px);
}

h4 {
  @include font-size(14px);
  text-transform: uppercase;
}

figure {
  margin: 0;
  padding: 0;
}

#nav-menu {
  background: url('/assets/img/nav-menu.png');
  cursor: pointer;
  height: 20px;
  width: 18px;
}

.wrapper, .nav-wrapper {
  background: url('/assets/img/bg.png');
  color: $periwinkle;
}


#title {
  margin-bottom: 2rem;
  align-self: flex-start;
  @include bp(sm) {
    margin-bottom: 0;
  }
}

#social-icons {

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    display: inline;
    padding: 0 1rem 0 0;
  }

}

.highlight {
  background: $black;
  margin: 2rem 0;
  padding: 0.1rem 1rem;
}

.listing-table {

  margin: 1rem 0 0 0;

  tr {
    @include flexbox;
    @include flex-direction(column);
    @include bp(sm) {
      display: table-row;
    }
  }

  tr td {
      padding: 1rem;
      vertical-align: top;
  }
}

.listing-table-banded {

  margin: 1rem 0 0 0;

  tr {

    &:nth-child(odd) {
      background: $light-gray;
    }

    td {
      padding: 2rem;
      vertical-align: top;
    }
  }
}


.space-between {
  @include justify-content(space-between);
}

.space-around {
  @include justify-content(space-around);
}

@include bp(sm) {

  header {
    @include justify-content(flex-start)
  }

  h1 {
    @include font-size(48px);
    span {
    @include font-size(20px);
    }
  }

  nav {
    display: block;

    ul {
      @include flexbox;
      @include justify-content(space-around);
    
      li {
        display: inline-block;
        background: none;
        border-top: none; 
      }
    }
  }

  .nav-wrapper {
    background: rgba(255,255,255,0.15);
    border-top: 1px solid rgba(255,255,255,0.3); 
  }

  #nav-menu {
    display: none;
  }
}


#presentation-list {

  list-style-type: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;

  li {
    margin-top: 2rem;
  }

  figure {
    margin: 0;
    @include flexbox;
    @include flex-direction(column);
    @include bp(sm) {
      @include flex-direction(row);
    }
  }

  figcaption {
    @include bp(sm) {
      padding-left: 2rem;
    }
  }

}

@include bp(md) {

  header {
    margin-bottom: -40px;
  }

  main {
//    @include flex-direction(row);
  }

  #blogroll-title {
    @include font-size(24px);
  }

  .slideshare-preso {
    display: table-cell;
  }


  nav {
    display: block; 

    ul {
      // HACK: Using the Flexbox display mode, switching this element's
      // "justify-content" to "flex-end" hould align all list items to 
      // the right side of the list (being that the list should have a 
      // 100% width). This renders incorrectly in Chrome. Therefore the 
      // following three lines accomplishes the same style.
      display: block; 
      text-align: right;
      width: auto;
    
      li {
        margin: 0 0 0 0.6rem;
        background: rgba(255,255,255,0.15);
        border-top: 1px solid rgba(255,255,255,0.3);
      }
    }
  }

  .nav-wrapper {
    background: none;
    border-top: none; 
  }

}

@media screen and (min-width: 1200px) {
  
  header, nav, main, footer {
    max-width: 1170px;
  }

}