// ---------- SASS Variables ----------

// Colors
$white: #ddd;
$black: #333;
$blue: #369;
$light-blue: saturate(lighten($blue, 33), 12);
$dark-blue: darken($blue, 3);

// Fonts
$architects-daughter: 'Architects Daughter', sans-serif;
$lato: 'Lato', sans-serif;

// ---------- SASS Functions ----------

// Functions
@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

// ---------- SASS Mixins ----------

@mixin font-size($size: 16px) {
  font-size: $size;
  font-size: calculateRem($size);
}

// *** insert 1 ***
@mixin bp($point) {
  // Small devices (tablets, 768px and up)
  @if $point == small {
    @media all and (min-width: 768px) { @content; }
  }
  // Medium devices (desktops, 992px and up)
  @else if $point == medium {
    @media all and (min-width: 992px) { @content; }
  }
  // Large devices (large desktops, 1200px and up)
  @else if $point == large {
    @media all and (min-width: 1200px)  { @content; }
  }
}

// ---------- Tag Selectors ----------

html {
  font-size: 62.5%;
}

body {
  color: $black;
  font-family: $lato;
//  @include font-size(16px);
}

h1 {
  @include font-size(30px);
  font-weight: 300;
}

section {
  margin: 0 auto;
  padding: 0 2rem;
  @include bp(small) { width: 750px; }
  @include bp(medium) { width: 970px; }
  @include bp(large) { width: 1170px; }
}


h1 {
  @include font-size(50px);
  font-weight: 300;
  margin: 0;
  a {
    color: $white;
    text-decoration: none;
  }
}

h2 {
  @include font-size(30px);
  font-weight: normal;
  margin: 0;
  a {
    color: $black;
    text-decoration: none;
  }
}

a {
  color: #cc0033;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  li {
    display: inline;
    margin: 0 3px;
  }
}

// ---------- ID Selectors ----------

#header-wrapper {
  background: $black;
  color: $white;
  padding: 20px;
}

#h1-tag-line {
  @include font-size(20px);
}

#nav-top ul {
  list-style-type: none;
  margin: 60px 0 0 0;
  padding: 0;
  li {
    display: inline;
    padding: 0 4px;
    a {
      color: #ddd;
      text-decoration: none;
    }
  }
}

// ---------- Class Selectors ----------

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

