*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $open-sans;
  @include flexbox;
  min-height: 100vh;
  @include flex-direction(column);
  color: #333;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $open-sans;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 0 0 2rem;
  @include font-size(14px);
  @include bp(sm) {
    @include font-size(16px);
  }
}

dl {
  margin-bottom: 3rem;
}

dt {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
dd {
  margin: 0.3rem 0 0.5rem 2rem;
  display: list-item;
  list-style-type: square;
}

hr { display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1rem 3rem 0; 
    padding: 0; 
}

header, main, footer {
  @include flexbox;
  margin: 0 auto;
  @include bp(lg) {
    max-width: 1170px;
  }
}

main {
  @include font-size(12px);
  @include bp(sm) {
    @include font-size(16px);
  }
}

header, footer {
  a, a:hover {
    color: $periwinkle;
  }
  padding: 1rem 2rem;
}

header {
  @include justify-content(space-between);
  @include bp(sm) {
    @include justify-content(flex-start);
  }
}

footer {
  @include font-size(14px);
  @include bp(sm) {
    @include font-size(16px);
  }
}

main {
  @include flex(1);
  @include flex-direction(column);
  padding: 2rem;
}

main ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
  list-style-type: square;

  li {
    margin-bottom: 3px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1;
}

h1, h2, h3, h4, h5 {

  @include font-size(18px);
  margin-bottom: 0.2rem;
  text-transform: uppercase;

  @include bp(sm) {
    @include font-size(22px);
    margin-bottom: 0.4rem;
  }
  a {
    color: $black;
  }
}

figure {
  margin: 0;
  padding: 0;
}

#site-header {
  @include flex();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  border-bottom: solid 1px #000;
}

#site-title {
  @include font-size(16px);
  @include bp(md) {
    @include font-size(20px);
  }
  @include bp(md) {
    @include font-size(24px);
  }
  font-weight: normal;
  color: $periwinkle;
  text-decoration: none;
  &:hover {
    color: $periwinkle;
    text-decoration: none;
  }
  span {
    @include font-size(16px);
    @include bp(md) {
      @include font-size(18px);
    }
    @include bp(md) {
      @include font-size(20px);
    }
    color: $white;
    font-weight: normal;
  }
}

#site-nav {
  @include font-size(15px);
  display: none;
  @include bp(sm) {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 0 0 1.8rem;
      @include bp(md) {
        @include font-size(16px);
        padding: 0 0 0 2.6rem;
      }
    }
  }
}

#site-nav-mobile {

  display: none;
  @include font-size(14px);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      background: rgba(255,255,255,0.1);
      border-bottom: solid 1px $black;
      padding: 1rem 0;
      text-align: center;
      
      a {
        color: $periwinkle;
      }
    }
  }
}

#site-nav-icon {
  background: url('/assets/img/nav-menu.png');
  cursor: pointer;
  height: 20px;
  width: 18px;
  @include bp(sm) {
    display: none;
  }
}

.tweets-timeline {
  display: none;
  @include bp(sm) {
    display: block;
  }
}

.wrapper {
  background: $black;
  color: $periwinkle;
}

.nav-wrapper {
  @include bp(sm) {
    background: rgba(255,255,255,0.15);
    border-top: 1px solid rgba(255,255,255,0.3); 
  }

  @include bp(md) {
    background: none;
    border-top: none; 
  }
}

#title {
  margin-bottom: 2rem;
  @include align-self(flex-start);
  @include bp(sm) {
    margin-bottom: 0;
  }
}

.highlight {
  background: $black;
  margin: 2rem 0;
  padding: 0.1rem 1rem;
  @include rounded()

}

.listing-table {

  margin: 0.5rem 0 0 0;

  tr {
    @include flexbox;
    @include flex-direction(column);
    @include bp(sm) {
      display: table-row;
    }
  }

  tr td {
      padding: 1rem;
      vertical-align: top;
  }
}

.listing-table-banded {

  margin: 0.5rem 0 0 0;

  tr {

    &:nth-child(odd) {
      background: $light-gray;
    }

    td {
      padding: 2rem;
      vertical-align: top;
    }
  }
}

.slideshare-preso {
  @include bp(md) {
    display: table-cell;
  }
}
