#headshot {
  display: none;

  @include bp(sm) {
    display: inline;
    padding: 0 0 1rem 1rem;
  }
}

#headshot-mobile {
  display: inline;
  padding: 0 0 1rem 1rem;

  @include bp(sm) {
    display: none;
  }
}

#presentation-list {

  list-style-type: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;

  li {
    margin-top: 2rem;
  }

  figure {
    margin: 0 0 2rem;
    img {
      margin: 0 0 1rem 0;
    }
    @include flexbox;
    @include flex-direction(column);
    @include bp(sm) {
      @include flex-direction(row);
    }
  }

  figcaption {
    @include bp(sm) {
      padding-left: 2rem;
    }
  }
}

#social-icons {

  list-style-type: none;
  margin: 0.6rem 0 0 0;
  padding: 0;
  width: 100%;

  li {
    display: inline;
    padding: 0 1rem 0 0;
  }
}

.side-column-home {

	@include bp(sm) {
    @include flex(0 0 28rem);  
  }
  @include bp(md) {
    @include flex(0 0 32rem);  
  }
  @include bp(lg) {
    @include flex(0 0 36rem);  
  }
}

