// ---------- Colors ----------
$white: #ddd;
$black: #222;
$blue: #369;
$periwinkle: #85b6d7;
$sunflower: #e9df90;
$rose: #df8a9b;
$light-gray: #F0F0F0;
$gray: #CCC;
$dark-gray: #999;
$red: #C03;

// ---------- Fonts ----------
$exo: 'Exo', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$baseFontSize: '10px'
