// ---------- Colors ----------
$white: #ddd;
$black: #333;
$blue: #369;
$periwinkle: #85b6d7;
$light-gray: #F0F0F0;
$gray: #CCC;

// ---------- Fonts ----------
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;
