@import 'variables';
@import 'mixins';

@include font-face('exo','../fonts/exo/exo-regular','normal','normal');
//@include font-face('exo','../fonts/exo/exo-bold','bold','normal');
@include font-face('roboto','../fonts/roboto/roboto-regular','normal','normal');
//@include font-face('roboto','../fonts/roboto/roboto-italic','normal','italic');
//@include font-face('roboto','../fonts/roboto/roboto-bold','bold','normal');
//@include font-face('roboto','../fonts/roboto/roboto-bolditalic','bold','italic');

html, body {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $white;
  color: $black;
  font-size: 1.6rem;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $blue;
  }

}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem;

  @include bp(sm) {
    font-size: 3.5rem;
    margin: 0 0 1.5rem;
  }
  @include bp(md) {
    margin: 0 0 2rem;
  }
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 0.8rem;

  @include bp(sm) {
    font-size: 1.8rem;
  }
  @include bp(md) {
    font-size: 2.0rem;
  }

}

p {
  margin: 0 0 2rem;
}

header.top-header {

  border-bottom: solid 1px $black;
  font-family: 'exo', serif;
  padding: 1rem 0;

  @include bp(md) {
  }

  @include bp(lg) {
    padding: 2.5rem 0 0;
  }
}

pre {
  margin: 0;
}

.mobile-menu {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  padding-top: -0.5rem;

  @include bp(sm) {
    display: none;
  }

}

.brand {
//  text-align: center;

//  @include bp(lg) 
//    text-align: left;
//  }
}

.brand a:hover {
  display: inline-block;
  text-decoration: none;
}

.brand-title {
  font-size: 2.4rem;
  color: $black;
  font-weight: normal;

  @include bp(sm) {
    font-size: 3rem;
  }
  @include bp(md) {
    font-size: 3.6rem;
  } 
}

.brand-delimiter, .brand-subtitle {
  color: $gray;
  font: bold 1.8rem 'exo', serif;
  text-transform: lowercase;

  @include bp(sm) {
    font-size: 2rem;
  }
  @include bp(md) {
    font-size: 3.0rem;
  }
}

nav.top-nav {
  display: none;
  font: bold 1.6rem/1 'exo', serif;
  margin: 0;
  text-align: right;

  @include bp(sm) {
    display: block;
  }

  @include bp(lg) {
    margin: 2rem 0;
  }

  ul {
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

    @include bp(sm) {
      margin: 0;
    }
    
    @include bp(lg) {
      text-align: right;
    }

    li {
      border-top: solid 1px #ddd;
      display: block;
      padding: 1rem 0;
      text-align: left;

      @include bp(sm) {
        border: 0;
        display: inline-block;
        font-size: 1.8rem;
        text-align: center;
        width: 25%;
      }

      @include bp(md) {
        font-size: 2rem;
      }

      @include bp(lg) {
        margin: 0 0 0 3rem;
        text-align: right;
        width: auto;
      }
    }
  }
}

main { 
  font: 1.6rem/1.8 'roboto', serif;

  padding: 2rem 1rem;

  @include bp(sm) {
    padding: 3rem 1.5rem;
  }

  @include bp(md) {
    padding: 4rem 2rem 6rem;
  }

  @include bp(lg) {
    padding: 4rem 2rem 6rem;
  }
}

footer {
  border-top: solid 1px $black;
  font-family: 'exo', serif;
  margin: 0 auto;
  padding: 2rem 3rem 4rem;
  text-align: right;
}

.container-fluid  {
  max-width: 1170px;
}

.intro-copy {
  margin-bottom: 2rem;
}

// ---------- Utility Classes ----------

// Floats and clears.
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.rfloat {
  float: right;
}

.lfloat {
  float: left ;
}

// Alignment
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.small {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

// Rouge Highlight overrides
.highlight {
  .l-Scalar-Plain, .p-Indicator { 
    color: #F92772; 
  }
  color: #ccc;
  margin-bottom: 2rem;
}


// ---------- Index Page ----------
.headshot-inline-100 {
  
  @include bp(sm) {
    display: none;
  }
  height: 10rem;
  padding-left: 1rem;
  width: 10rem;
}

.headshot-aside-100 {
  display: none;
  height: 10rem;
  margin-top: 5rem;
  width: 10rem;

  @include bp(sm) {
    display: inline-block;
  }

  @include bp(md) {
    display: none;
  }
}


.headshot-aside-200 {
  display: none;
  height: 20rem;
  margin-top: 5rem;
  width: 20rem;

  @include bp(md) {
    display: inline-block;
  }

}

.recent-posts {
  margin-top: 1rem;

  table {
    border-collapse: collapse;
    padding: 0 0 10rem;

    td {
      padding: 0.4rem;
    }

  }

}

// ---------- Blog ----------
.blog {

  .date_author {
    display: inline-block;
    margin-bottom: 2rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

.blogroll {

  ul li {
    margin-bottom: 5rem;
  }

}

#disqus_thread {
  margin-bottom: 3rem;
}

.social-buttons {
  padding: 0.5rem 0 1rem;

  .social-button {
    display: inline-block;
    margin-right: 1rem;
  }
}

.fb-share-button {
  position: relative;
  top: -0.8rem;
}

// ---------- Portfolio ----------

.portfolio {

  article {
    border-bottom: solid 1px #bbb;
    margin: 0 0 3rem;

    figure.screen {
      display: inline-block;
      text-align: center;

      img {
        box-shadow: 3px 3px 5px #ccc;
        border: solid 1px #999;
        display: inline-block;
        margin: 0 0.5rem;
      }

      figcaption {
        display: inline-block;
        margin: 0 0 1.5rem;
      }
    }
  }

  article:last-of-type {
    border: none;
  }

}

// ---------- Speaking ----------

.speaking {

  article {
    border-bottom: solid 1px #bbb;
    margin: 0 0 3rem;
  }

  article:last-of-type {
    border: none;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  img.slide {
    box-shadow: 3px 3px 5px #ccc;
    border: solid 1px #999;
  }

  img.icon {
    height: 32px;
    width: 32px;
  }

  ul {
    margin-bottom: 3rem;
  }

  ul.resources {
    list-style-type: none;
    margin-left: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

}

@import 'pygments';

