<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container-fluid">
      {% include header.html %}
      {{ content }}
  
      {% if page.type and page.type == 'blog' %}
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';
          this.page.identifier = '{{page.id}}';
        };
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//carlisleblog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
      </noscript>
      {% endif %}

      {% include footer.html %}
    </div>
    <script src="/assets/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-34545855-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% if page.type and page.type == 'blog' %}
    <script id="dsq-count-scr" src="//carlisleblog.disqus.com/count.js" async></script>
    {% endif %}
  </body>
</html>
